<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='dashboard_style.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='events_style.css')}}">
    <title>Add Event</title>
</head>
<body>
    <div class="header">
        <div class="famspace">
            <h1>GroupSpace</h1>
        </div>
        <div class="user_options">
            <a href="/dashboard">Home</a>
            <a href="/logout">Logout</a>
        </div>
    </div>
    <h1>Add Event</h1>
    <div class="event_add_form">
        <form action="/create_event" method="POST">
            <label for="event">Event Title:</label>
            <input type="text" name="event">
            <label for="date_time">Event Date:</label>
            <input type="datetime-local" name="date_time">
            <label for="comment">Event Description:</label>
            <input type="text" name="comment">
            <input type="submit" value="Create Event">
        </form>
    </div>
    <div class="events_nav">
        <a href="/upcoming_events">Return to Upcoming Events</a>
    </div>
</body>
</html>