<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='dashboard_style.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='calendar_style.css')}}">
    <title>{{user.first_name}} {{user.last_name}}</title>
</head>
<body>
    <div class="header">
        <div class="famspace">
            <h1 onclick="return_to_dashboard()" >GroupSpace</h1>
            
        </div>
        <div class="user_options">
            <a href="/group">Group</a>
            <a href="/logout">Logout</a>
        </div>
    </div>
    <div>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="flash_wrapper">
                    <h1 class="flash_header">Whoops...</h1>
                    {% for message in messages %}
                        <p class="flash">{{message}}</p>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
    </div>
    <div class="lower_wrapper">
        <div class="left_column">
            <div class="calendar_body_wrapper">
                <div class="calendar">
                    <div class="calendar-header">
                        <span class="month-picker" id="month-picker"></span>
                        <div class="year-picker">
                            <span id="year">2023</span>
                        </div>
                    </div>
                    <div class="calendar-body">
                        <div class="calendar-week-day">
                            <div>Sun</div>
                            <div>Mon</div>
                            <div>Tue</div>
                            <div>Wed</div>
                            <div>Thu</div>
                            <div>Fri</div>
                            <div>Sat</div>
                        </div>
                        <div class="calendar-days"></div>
                    </div>
                    <div class="month-list"></div>
                </div>
                <script src="{{url_for('static', filename='calendar.js')}}"></script>
            </div>
            <hr width="80%">
            <div class="shared_links">
                <h3>Shared Links</h3>
                <a href="www.github.com">Github</a>
            </div>
            <hr width="80%">
            <div class="birthday_wrapper">
                <h3>Member Birthdates</h3>
                <p>- {{user.first_name}} {{user.last_name}}: {{user.birthdate.strftime('%d %B %Y')}}</p>
            </div>
        </div>
        <div class="middle_column">
            <h1 class="middle_header">
                {{user.first_name}} {{user.last_name}}
            </h1>
            <div class="second_row_middle">
                <img src="{{ url_for('static', filename='avatar.jpg') }}" alt="My Photo">
                <div class="message_board">
                    <a href="/messages">Message Board:</a>
                    <div class="events_list">
                        {% for message in message|reverse %}
                            {% if loop.index <= 20 %}
                                <div class="message_box">
                                    <div class="message_box_headers">Message:
                                    <div class="message_box_content">{{message.message}}</div></div>
                                    <div class="message_box_headers">Posted:
                                    <div class="message_box_content">{{message.updated_at}}</div></div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <div class="upcoming_events">
                        <a href="/upcoming_events">Upcoming Events:</a>
                    <div class="events_list">
                        {% for event in event|reverse %}
                            {% if loop.index <= 10 %}
                                <div class="event_box">
                                    <div class="event_box_headers">Event Title:
                                    <div class="event_box_content">{{event.event}}</div></div> 
                                    <div class="event_box_headers">Date and Time:
                                    <div class="event_box_content">{{event.date_time}}</div></div> 
                                    <div class="event_box_headers"> Description: 
                                    <div class="event_box_content">{{event.comment}}</div></div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="middle_bottom">
                <div class="middle_bottom_left">
                    <div class="middle_bottom_left_location">
                        <img src="{{ url_for('static', filename='location_marker.jpg') }}" alt="Location Marker">
                        <a href="/weather" class="location">{{user.city}}, {{user.state}}</a>
                    </div>
                    <a href="/photos" class="collage">Photos:</a>
                    <div class="middle_bottom_left_photos_row1">
                        <a href="/photos">
                            <img src="{{ url_for('static', filename='avatar.jpg') }}" alt="Location Marker">
                        </a>
                        <a href="/photos">
                            <img src="{{ url_for('static', filename='avatar.jpg') }}" alt="Location Marker">
                        </a>
                    </div>
                    <div class="middle_bottom_left_photos_row2">
                        <a href="/photos">
                            <img src="{{ url_for('static', filename='avatar.jpg') }}" alt="Location Marker">
                        </a>
                        <a href="/photos">
                            <img src="{{ url_for('static', filename='avatar.jpg') }}" alt="Location Marker">
                        </a>
                    </div>
                </div>
                <div class="middle_bottom_right">
                    <a href="/discussion_board">Discussion Threads:</a>
                    <p>Discussion Board 2</p>
                    <p>Discussion Board 2</p>
                </div>
            </div>
        </div>
        <div class="right_column">
            <div class="weather">
                <a href="/weather">{{user.city}}, {{user.state}}</a>
                <code><a href="/weather_forecast?lat=40.7128&lon=-74.0060/" target="_blank">New York</a></code> (New York City example)
                <!-- Remember to replace <code>myemail@example.com</code> in <code>config.py</code> with your actual email for the User-Agent. -->
                <a href="/weather">Weather_Location1</a>
                <a href="/weather">Weather_Location1</a>
                <a href="/weather">Weather_Location1</a>
            </div>
            <!-- https://api.weather.gov/points/40.7128,-74.0060 -->
            <!-- /api/weather?lat=40.7128&lon=-74.0060/ -->
            <hr width = 80%>
            <div class="time_location">
                <a href="/time">{{user.city}}, {{user.state}}</a>
                <a href="/time">Time_Location1</a>
                <a href="/time">Time_Location1</a>
                <a href="/time">Time_Location1</a>
            </div>
        </div>


    </div>
</body>
</html>


<!-- Sourcing of portions of this code related to the calendar come from: https://www.educative.io/answers/how-to-create-an-animated-calendar-with-html-and-css -->
