<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='dashboard_style.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='discussion_style.css')}}">
    <title>Discussion Board</title>
</head>
<body>
    <div class="header">
        <div class="famspace">
            <h1>GroupSpace</h1>
        </div>
        <div class="user_options">
            <a href="/dashboard">Home</a>
            <a href="/logout">Logout</a>
        </div>
    </div>
    <h1>Discussion Board</h1>
    <div class="discussion_list">
        <div class="discussion_date">
            <h1>Date:</h1>
        </div>
        <div class="discussion_subject">
            <h1>Subject:</h1>
        </div>
        <div class="discussion_text">
            <h1>Content:</h1>
        </div>
        <div class="discussion_user">
            <h1>Submitted by:</h1>
        </div>
    </div>
</body>
</html>