<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='dashboard_style.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='events_style.css')}}">
    <title>Edit Message</title>
</head>
<body>
    <div class="header">
        <div class="famspace">
            <h1>GroupSpace</h1>
        </div>
        <div class="user_options">
            <a href="/dashboard">Home</a>
            <a href="/logout">Logout</a>
        </div>
    </div>
    <h1>Edit Message</h1>
    <div class="event_add_form">
        <form action="/submit_edit_message/{{message.id}}" method="POST">
            <input type="hidden" name="id" value="{{message.id}}">
            <label for="message">Messsage:</label>
            <textarea rows="4" cols="50" name="message" placeholder="{{message.message}}"></textarea>
            <input class = "event_submit" type="submit" value="Submit Edit">
        </form>
    </div>
    <div class="events_nav">
        <a href="/upcoming_events">Return to Upcoming Events</a>
    </div>
</body>
</html>