<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='dashboard_style.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='events_style.css')}}">
    <title>Edit Event</title>
</head>
<body>
    <div class="header">
        <div class="famspace">
            <h1>GroupSpace</h1>
        </div>
        <div class="user_options">
            <a href="/dashboard">Home</a>
            <a href="/logout">Logout</a>
        </div>
    </div>
    <h1>Edit Event</h1>
    <div class="event_add_form">
        <form action="/submit_edit/{{event.id}}" method="POST">
            <input type="hidden" name="id" value="{{event.id}}">
            <label for="event">Event Name: </label>
            <input type="text" name="event" placeholder="{{event.event}}">
            <label for="date_time">Event Date:</label>
            <input type="datetime-local" name="date_time" placeholder="{{event.date_time}}">
            <label for="comment">Event Description:</label>
            <textarea rows="4" cols="50" name="comment" placeholder="{{event.comment}}"></textarea>
            <input class = "event_submit" type="submit" value="Edit Event">
        </form>
    </div>
    <div class="events_nav">
        <a href="/upcoming_events">Return to Upcoming Events</a>
    </div>
</body>
</html>