<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='dashboard_style.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='events_style.css')}}">
    <title>Group Message Board</title>
</head>
<body>
    <div class="header">
        <div class="famspace">
            <h1>GroupSpace</h1>
        </div>
        <div class="user_options">
            <a href="/dashboard">Home</a>
            <a href="/logout">Logout</a>
        </div>
    </div>
    <h1>Message Board for {{user.teams.group_name}}</h1>
    <div class="events_nav">
        <a href="/add_message">+ Add Message</a>
    </div>
    <div class="events_list">
        {% for message in message|reverse %}
            {% if loop.index <= 20 %}
                <div class="message_box">
                    <div class="message_box_headers">Message:
                    <div class="message_box_content">{{message.message}}</div></div>
                    <div class="message_box_headers">Posted:
                    <div class="message_box_content">{{message.updated_at}}</div></div>
                    <div><a href="/edit_message/{{message.id}}">Edit Message</a> <a href='/delete_message/{{message.id}}'>Delete Message</a></div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
</body>
</html>