<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='dashboard_style.css')}}">
    <title>Time</title>
</head>
<body>
    <div class="header">
        <div class="famspace">
            <h1>GroupSpace</h1>
        </div>
        <div class="user_options">
            <a href="/dashboard">Home</a>
            <a href="/logout">Logout</a>
        </div>
    </div>
    <h1>Time for {{user.city}}, {{user.state}} : <time> 8:45 PM</time></h1>

</body>
</html>