<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='dashboard_style.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='events_style.css')}}">
    <title>Upcoming Events</title>
</head>
<body>
    <div class="header">
        <div class="famspace">
            <h1>GroupSpace</h1>
        </div>
        <div class="user_options">
            <a href="/dashboard">Home</a>
            <a href="/logout">Logout</a>
        </div>
    </div>
    <h1>Upcoming Events</h1>
    <div class="events_nav">
        <a href="/add_event">+ Add Event</a>
    </div>
    <div class="events_list">
    <h2>Events for {{user.teams.group_name}}</h2>
        {% for event in event|reverse %}
        {% if loop.index <= 20 %}
            <p>Event Title: {{event.event}} Event Date: {{event.date_time}} Event Description: {{event.comment}}</p>
        {% endif %}
    {% endfor %}
    </div>
</body>
</html>