<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='dashboard_style.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='events_style.css')}}">
    <title>Upcoming Events</title>
</head>
<body>
    <div class="header">
        <div class="famspace">
            <h1>GroupSpace</h1>
        </div>
        <div class="user_options">
            <a href="/dashboard">Home</a>
            <a href="/logout">Logout</a>
        </div>
    </div>
    <h1>Upcoming Events</h1>
    <div class="events_nav">
        <a href="/add_event">+ Add Event</a>
    </div>
    <div class="events_list">
        <p>Event Title: {{event.event}}</p>
        <p>Event Date: {{event.date_time}}</p>
        <p>Event Description: {{event.comment}}</p>
    </div>
</body>
</html>