<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='dashboard_style.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='events_style.css')}}">
    <title>Upcoming Events</title>
</head>
<body>
    <div class="header">
        <div class="famspace">
            <h1>GroupSpace</h1>
        </div>
        <div class="user_options">
            <a href="/dashboard">Home</a>
            <a href="/logout">Logout</a>
        </div>
    </div>
    <h1>Upcoming Events for {{teams.group_name}} </h1>
    <div class="events_nav">
        <a href="/add_event">+ Add Event</a>
    </div>
    <div class="events_list">
        {% for event in event|reverse %}
        {% if loop.index <= 20 %}
        <div class="event_box">
            <div class="event_box_headers">Event Title:
            <div class="event_box_content">{{event.event}}</div></div> 
            <div class="event_box_headers">Date and Time:
            <div class="event_box_content">{{event.date_time}}</div></div> 
            <div class="event_box_headers"> Description: 
            <div class="event_box_content">{{event.comment}}</div></div>
            <div><a href="/edit_event/{{event.id}}">Edit Message</a> <a href='/delete_event/{{event.id}}'>Delete Message</a></div>
        </div>
        {% endif %}
    {% endfor %}
    </div>
</body>
</html>